{% extends "PRVitrineBundle::layout.html.twig" %}

{% block title %}Galerie {{galleryName}}{% endblock %}
{% block head %}

    {{ parent() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}
{% block pr_vitrine_body %}
<script type="text/javascript" src="{{asset('AdminLTE/bower_components/jquery/dist/jquery.min.js')}}"></script>


    <h1>Galerie - {{galleryTitle}} </h1>
    <p class="important">
      <div class="row">

        {% if galleryName == 'perso' %}
          <iframe src='https://www.youtube.com/embed/dQw4w9WgXcQ' height="600" width="800px"></iframe>
        {% else %}



          <!--THUMBNAILS-->

          <div class='grid-container'>
          {% for img in galleryList %}
            <div class='img_crop'>


                    <a data-toggle="modal" data-target="#myModal" class='thumbcrsl' href="#myCarousel" data-slide-to="{{loop.index0}}">
                      <img class="img-thumbnail carsl" width="100%"  name='{{img.name}}' src="{{asset(img.galleryPath ~ img.name )}}">
                    </a>




            </div>
          {% endfor %}
          </div>
          <!--end of thumbnails-->


          <!--begin modal window-->
          <div class="modal fade" id="myModal">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <div class="pull-left">{{galleryName}}</div>
                    <button type="button" style='color:white;' class="close" data-dismiss="modal" title="Close"> <span class="glyphicon glyphicon-remove"></span></button>
                  </div>
                  <div class="clearfix"></div>
                  <div class="modal-body">
                  <!--CAROUSEL CODE GOES HERE-->
                  <div id="myCarousel" class="carousel slide " data-interval="false">

                    <div class="carousel-inner">
                      {% for img in galleryList %}
                        {% if loop.index0 == 0 %}
                         <div id='{{img.name}}' class="item active"> <img src="{{asset(img.galleryPath ~ img.name) }}" alt="">
                        {% else %}
                         <div id='{{img.name}}' class="item"> <img src="{{asset(img.galleryPath ~ img.name) }}" alt="">
                        {% endif %}
                      </div>

                      {% endfor %}


                      <!--end carousel-inner--></div>
                      <!--Begin Previous and Next buttons-->
                      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev"> <span class="glyphicon glyphicon-chevron-left"></span></a> <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next"> <span class="glyphicon glyphicon-chevron-right"></span></a>
                      <!--end carousel--></div>
                      <!--end modal-body--></div>
                      <div class="modal-footer">
                        <div class="pull-left"> </div>
                        <button class="btn-sm btn-default close" type="button" data-dismiss="modal">Fermer</button>
                        <div class="clearfix"></div>
                      </div>
                    </div>
                  </div>
          </div>
        </div>
        {% endif %}
      </div>


    </p>
{% endblock %}
