<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Site Vitrine {% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
</head>

<body>
<div class="container-fluid">
    <div id="header" class="jumbotron">
        <h1>Site Vitrine</h1>
        <p>
          Page d'accueil
        </p>
    </div>

    <div class="row">
        <div class="col-md-12">
            <p style="text-align:right;">Bienvenue</p>
        </div>
    </div>
    <hr/>

    <div class="row">
        <div id="menu" class="col-md-3">
            <h3>Menu Principal</h3>
            <ul class="nav nav-stacked">
                <li><a href="{{ path('accueil') }}"><i class="fa fa-home fa-lg" aria-hidden="true"></i> Accueil </a></li>
                <li><a href="{{ path('presentation') }}"><i class="fa fa-binoculars" aria-hidden="true"></i> Presentation </a></li>
                <li><a href="{{ path('gallerie') }}"><i class="fa fa-cog fa-lg" aria-hidden="true"></i> Gallerie </a></li>
                <li><a href="{{ path('contacts') }}"><i class="fa fa-cog fa-lg" aria-hidden="true"></i> Contacts </a></li>
            </ul>
        </div>
        <div id="content" class="col-md-9">
            {% block body %}
            {% endblock %}
        </div>
    </div>

    <hr>

    <footer>
        <p>Copyright {{ "now"|date('Y') }} - Pierre Roumieux</p>
    </footer>
</div>

{% block javascripts %}
<script src="{{ asset('js/bootstrap.min.js') }}"></script>
<script src="{{ asset('js/jquery-3.2.1.min.js') }}"></script>

{% endblock %}
</body>
</html>
