<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Site Vitrine {% endblock %}</title>
    <script src="https://use.fontawesome.com/85e8b481ea.js"></script>
</head>

<body>
<div class="container-fluid">
    <div id="header" class="jumbotron">
        <h1>Site Vitrine</h1>
        <p>
          Page d'accueil
        </p>
    </div>

    <div class="row">
        <div class="col-md-12">
            <p style="text-align:right;">Bienvenue</p>
        </div>
    </div>
    <hr/>

    <div class="row">
        <div id="menu" class="col-md-3">
            <h3>Menu Principal</h3>
            <ul class="nav nav-stacked">
                <li><a href="{{ path('accueil') }}"><i class="fa fa-home" aria-hidden="true"></i>  Tab 1 </a></li>
                <li><a href="{{ path('accueil') }}"><i class="fa fa-binoculars" aria-hidden="true"></i>  Tab 2 </a></li>
                <li><a href="{{ path('accueil') }}"><i class="fa fa-cog fa-lg" aria-hidden="true"></i>  Tab 3 </a></li>
                <li><a href="{{ path('accueil') }}"><i class="fa fa-cog fa-lg" aria-hidden="true"></i>  Tab 4 </a></li>
            </ul>
        </div>
        <div id="content" class="col-md-9">
            {% block body %}
            {% endblock %}
        </div>
    </div>

    <hr>

    <footer>
        <p>Copyright {{ "now"|date('Y') }} - Pierre Roumieux</p>
    </footer>
</div>

{% block javascripts %}


{% endblock %}
</body>
</html>
