{% extends "PRAdminBundle::layout.html.twig" %}

{% block title %}Administration{% endblock %}
{% block head %}
    {{ parent() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}
{% block menu %}
    {{ render(controller('PRAdminBundle:MenuAdmin:list'))}}
{% endblock %}
{% block pr_vitrine_body %}
    <h2> Gestion des articles </h2>
    <caption><span><input type='button' value="Nouveau" class='btn btn-success'/><span></caption>
    <table id='tableArticles' name='tableArticles' class='table table-striped table-bordered table-hover no-foooter dataTable' role="grid">
      <thead>
        <th>Titre</th>
        <th>Posté par</th>
        <th>Posté le</th>
        <th>Publié (O/N)</th>
                  <th> Actions </th>
      </thead>
      <tbody>

          {% for article in listArticles %}
          <tr>
            <td>{{article.Title}}</td>
            <td>{{article.editor}}</td>
            <td>{{article.date|date('d-m-Y H:i:s') }}</td>
            <td>{% if article.published == 1 %}
                <input type='checkbox' checked disabled />
                {% else %}
                <input type='checkbox'  disabled />
                {% endif %}
            </td>

            <td>
              {% if article.published == 1 %}
                <form action="{{path('admin_article_publish', {'id' : article.id})}}" method="post"  >
                    <input type='submit' name='action' value="Dépublier" class='btn btn-warning'/>
                </form>

                  {% else %}
                  <form action="{{path('admin_article_publish', {'id' : article.id})}}" method="post"  >
                      <input type='submit' name='action' value="Publier" class='btn btn-success'/>
                  </form>
              {% endif %}
              <form action="{{path('admin_article_edit', {'id' : article.id})}}" method="post"  >
                  <input type='submit' value="Editer" class='btn btn-warning'/>
              </form>

                  <input type='button' data-target='#confirm-delete' data-toggle='modal' value="Supprimer" class='btn btn-danger'/>
              </form>
              <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="Suppression" aria-hidden="true">
                  <div class="modal-dialog">
                      <div class="modal-content">
                          <div class="modal-header">
                              Suppression d'un article
                          </div>
                          <div class="modal-body">
                              Êtes vous sûr(e) de vouloir supprimer cet article ?
                              Attention , il n'y a pas de retour arrière possible si vous confirmez
                          </div>
                          <div class="modal-footer">

                              <form action="{{path('admin_article_delete', {'id' : article.id})}}" method="post"  >
                                <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                                <input type='submit' value="Supprimer" class='btn btn-danger'/>
                              </form>
                          </div>
                      </div>
                  </div>
              </div>



             </td>
          </tr>

          {% endfor %}
      </tbody>
    </table>


{% endblock %}
