{% extends "PRAdminBundle::layout.html.twig" %}

{% block title %}Administration{% endblock %}
{% block head %}
    {{ parent() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
     
     <link rel="stylesheet" href="{{asset('css/dropzone.css')}}" />
{% endblock %}
{% block menu %}
    {{ render(controller('PRAdminBundle:MenuAdmin:list'))}}
{% endblock %}
{% block pr_vitrine_body %}

    <h2> Gestion de la galerie : {{galleryName}}  </h2>
    <div>
      Ajouter des images : <br/>
     

      <form name='dropzoneForm' id='dropzoneForm' action="{{ oneup_uploader_endpoint('gallery') }}" class="dropzone" method='POST'>        
      </form>
     

    </div>

    <div>
      Consulter les images présentes
      <table id='tableGalleries' name='tableGalleries' class='table table-striped table-bordered table-hover no-foooter dataTable' role="grid">
        <thead>
          <th style='display:none'></th>
          <th tabindex="0" rowspan="1" colspan="1"> Nom</th>
          <th tabindex="1" rowspan="1" colspan="1"> Image </th>
          <th tabindex="2" rowspan="1" colspan="1"> Miniature de la gallerie </th>
          <th tabindex="3" rowspan="1" colspan="1"> Ordre d'apparition</th>
          <th tabindex="4" rowspan="1" colspan="1"> Actions </th>
        </thead>
        <tbody>

            {% for picture in listPictures %}
            <tr>
              <td style='display:none'>{{picture.pictureOrder}}</td>
              <td>{{picture.name}}</td>
              <td><img class="img-thumbnail carsl" width="200px" height="200px" name='{{picture.name}}' src="{{asset(picture.galleryPath ~ picture.name )}}"></td>
              <td> {% if picture.name == "thumbnail.jpg" %}
                    Oui
              {% else %}
                    
              {% endif %}
              </td>
              <td> <span style='display:none;'> {{picture.pictureOrder}} </span> <input form="changeOrder{{picture.pictureOrder}}" id='newOrder{{picture.pictureOrder}}' name='newOrder' type='number' style='width:50px;' value="{{picture.pictureOrder}}"/></td>
              <td>
              
                <form id="changeOrder{{picture.pictureOrder}}" name="changeOrder{{picture.pictureOrder}}" action="{{path('admin_change_order', {'image' : picture.name , 'galleryName' : galleryName})}}" method="post"  >
                  <input type='submit' value="Changer l'ordre" class='btn btn-success'/>
                </form>
                <br/>

                <form id="changeThumbnail{{picture.name}}" name="changeThumbnail{{picture.name}}" action="{{path('admin_change_thumbnail', {'image' : picture.name , 'galleryName' : galleryName})}}" method="post"  >
                  <input type='submit' value="Passer en miniature de gallerie" class='btn btn-success'/>
                </form>
                </br/>
               <input type='button' onclick="$('#confirm-delete{{picture.pictureOrder}}').modal('show');"  class='btn btn-danger' name='validation' value='Supprimer' />

                <div class="modal fade" id="confirm-delete{{picture.pictureOrder}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                      <div class="modal-content">
                          <div class="modal-header">
                              Confirmation de suppression
                          </div>
                          <div class="modal-body">
                              Vous allez supprimer l'image suivante : <br/><br/>
                              <img class="img-thumbnail carsl" width="200px" height="200px" name='{{picture.name}}' src="{{asset(picture.galleryPath ~ picture.name )}}">
                              <br/><br/>
                              La suppression est irreversible , merci de confirmer !

                          </div>

                          <div class="modal-footer">
                             <form id="modal_js_confirm" name="modal_js_confirm" action="{{path('admin_image_del', {'image' : picture.name , 'galleryName' : galleryName})}}" method="post"  >
                                <input type='submit' value="Supprimer" class='btn btn-danger'/>
                             </form>

                             <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
   
                            </form>
                          </div>
                      </div>
                  </div>
                </div>
                

              </td>
            </tr>
            {% endfor %}
        </tbody>
      </table>
    </div>
    <script type="text/javascript" src="{{asset('AdminLTE/bower_components/jquery/dist/jquery.min.js')}}"></script>

{% endblock %}
